#slide-out {
  padding-top:2em;
}

#slide-out > li {
  margin-top:10px;
  margin-bottom:15px;
}

#slide-out .border {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom:30px;
}

.side-nav > li > a:hover {
  background:transparent;
  opacity:0.8;
}

.core {
  height: 68px;
}
.lens {
  height: 20px;
}
.compendium {
  height:20px;
}

.side-nav ul {
  margin-top: -13px;
}
.resources .finger {
  margin-bottom:20px;
}

.side-nav .resources li {
  padding:10px 0;
}
.side-nav .resources li:hover {
  background:rgba(0,0,0,0.07);
}
.side-nav .resources li > a:hover {
  background-color:transparent;
}

.full-width img {
     width: 100%;
}
 .job-list-items li:nth-child(odd) {
     background-color: #f2f2f2;
}
 .finger {
     cursor: pointer;
}
 .nav-row1 {
     background-color: white
}
 nav .nav-row1 ul a {
     color: #3f3f3f;
}
 nav .nav-row1 .brand-logo {
     color: #3f3f3f;
}
 .job-list-items a:hover {
     text-decoration: underline;
}
 .job-list-img {
     height: 215px;
     max-width: 310px;
     max-height: 215px;
     padding-right: 5px;
     padding-left: 5px;
     object-fit: cover;
}
 nav .button-collapse {
     display: block;
}
 .left-btn, .right-btn {
     display: block !important;
}
 .job-list-left {
     padding-left: 20%;
}
 .job-list-right {
     padding-right: 20%;
}
 .left-btn {
     padding-left: 5px;
     margin-left: -45px;
     background-color: #648226;
     height: 100px;
     width: 50px;
     border-bottom-right-radius: 50px;
     border-top-right-radius: 50px;
     position: absolute;
     top: 42%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .right-btn {
     text-align: right;
     right: 0;
     margin-right: -45px;
     background-color: #648226;
     height: 100px;
     width: 50px;
     border-bottom-left-radius: 50px;
     border-top-left-radius: 50px;
     position: absolute;
     top: 42%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding-right: 35px;
}
 .job-btn-icon {
     color: white;
     width: 30px;
     height: 60px;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .job-list-name {
     text-align: center;
     font-size: 16px;
     font-weight: 600;
     clear: both;
     line-height: 18px;
     padding-top: 10px;
}
 .job-list-name a {
     color: #3f3f3f
}
 .contilist-title {
     font-size: 37px;
     font-weight: 500;
     color:#3f3f3f;
}
 .slider-imgs {
     position: relative;
}
 .title-container {
     margin-left: 200px;
     line-height: 20px;
     height: 0px;
}
 .title-container li {
     padding-top: 12px;
}
 .title-text-header {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
     font-weight: 600;
     color: #3f3f3f;
     font-size: 22px
}
 .title-text-content {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
     font-weight: 600;
     color: #3f3f3f;
     font-size: 17px
}
 .job-list-items-name {
     width: 100%;
     text-align: left;
     font-family: "Gotham A", "Gotham B",'GothamSSm-Light';
     font-weight: 300;
     color: #008a91;
     font-size: 18px;
     white-space: normal;
}
 .full-width-nav {
     width: 100%;
}
 .side-nav-btn {
     font-size: 40px;
     color: #0096a9 !important;
}
 .brand-logo img {
     width: auto;
     height: 70px;
     padding-right: 20px;
     border-right: 1px solid black;
}
.brand-text{
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom:  0;
    vertical-align: top;
    padding-top: 5px;
    font-family: "Gotham A", "Gotham B",'GothamSSm-Light';
    color:#666666;
}
 .job-tab {
     min-height: 80vh;
}
 .footer-text {
     font-size: 12px;
}
 .footer-logo {
     width: 108px;
     margin-top: 3px;
}
 .job-img-container {
     padding-top: 70%;
     width: 100%;
     position: relative;
}
 .job-img-content {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     margin-left: 5px;
     margin-right: 5px;
     background-position: center center;
     background-size: cover;
}
 .footer .job-list-items-name{
     font-size: 14px;
}
 @media (max-width: 1280px) {
     .job-list-img {
         padding-right: 10px;
         padding-left: 10px;
         max-width: none;
         height: 160px;
    }
}
 @media (max-width: 992px) {
    .nav-search {
         margin-top: 75px;
    }
 }
 @media (max-width: 991px) {
     .job-list-left {
         padding-left: 0;
    }
     .job-list-right {
         padding-right: 0;
    }
     nav .brand-logo {
         left: 10%;
         -webkit-transform: translateX(0);
         transform: translateX(0);
    }
     nav .brand-logo img {
         max-height: 56px;
    }
     .title-text-header {
         font-family: 'GothamSSm-Medium', sans-serif;
         font-weight: 600;
         color: #3f3f3f;
         font-size: 16px
    }
     .title-text-content {
         font-family: 'GothamSSm-Medium', sans-serif;
         font-weight: 600;
         color: #3f3f3f;
         font-size: 14px
    }
     .job-list-img {
         height: 120px;
    }
     .left-btn {
         top: 32%;
         transform: translateY(-50%) scale(0.5);
         -webkit-transform: translateY(-50%) scale(0.5);
         margin-left: -20px;
    }
     .right-btn {
         top: 32%;
         transform: translateY(-50%) scale(0.5);
         -webkit-transform: translateY(-50%) scale(0.5);
         margin-right: -20px;
    }
    .brand-text{
        font-size: 18px;
        line-height: 24px;
        padding-top: 4px;
    }
}
 @media (max-width: 767px) {
     .contilist-title {
         font-size: 24px;
    }
     .brand-logo img {
         margin-top: 10px;
         height: 40px;
    }
     .job-list-img {
         height: 30vw;
         width: 40vw;
        ;
         max-height: none;
         padding-right: 10px;
         padding-left: 10px;
    }
     .nav-search {
         margin-top: 56px;
    }
     .job-list-name {
         font-size: 14px;
         line-height: 16px;
    }
     .contentlist-container {
         margin-bottom: 0;
    }
    .brand-text{
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
    }
}
