<nav class="nav-extended">
    <div class="nav-wrapper nav-row1">
        <div _ngcontent-c0="" class="container">

           <div class='brand-text'>Jobs</div>



        </div>
    </div>
</nav>

<ul id="slide-out" class="side-nav">

</ul>


<div _ngcontent-c0="" class="container">
  <div _ngcontent-c0="" class="row">
    <div _ngcontent-c0="" class="col s12 m12 mt-3 search-box-container">
      <input name="search" type="text" #searchBox class="search-box" placeholder="Job title, keywords, or company" [(ngModel)]="search" >
      <button mat-button (click)="filterJobs(search)" class="search-box">Find jobs</button>
      <small>Search without key words will return all results.</small>

        <mat-spinner *ngIf="loading" class='margin-auto'></mat-spinner>
        <p *ngIf="jobs && !loading && searched">Found {{jobs.length}} Results.</p>

    </div>

<table class="table">
    <ng-container *ngFor="let job of jobs| sortBy: ['name']; let i = index;">
    <tr>
      <td>
        <a class="job-list-items-name" mat-button (click)="showConditonDetail(job._id)">{{
          job.title }} - {{job.company }} - {{job.location }}</a> <span class="new badge" data-badge-caption="" *ngFor="let tag of job.tags">{{tag}}</span>
      </td>
      <td>
        <button mat-button mat-button (click)="editConditonDetail(job._id)">Edit</button>
        <button mat-button mat-button (click)="deleteJob(job)">Delete</button>
      </td>
    </tr>
    </ng-container>
</table>


  </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col m12 l4">

                <p class="footer-text">Supported by Junning Zeng © 2020</p>
            </div>

            <div class="col m6 l4">


            </div>
            <div class="col m6 l4">


            </div>
        </div>
    </div>


</div>
