<button mat-button></button>

<div *ngIf="!job && !page" class="page-container">
    <div class="detail-header relative" mat-dialog-title>

        <p class="job-category-detail">
            <mat-spinner class='margin-auto'></mat-spinner>
        </p>
        <p class="job-name-detail"></p>
        <button mat-button mat-dialog-close class="close-modal-btn"><i class="fas fa-times"></i></button>
    </div>
</div>



<div *ngIf="job" class="page-container">
    <div class="detail-header relative" mat-dialog-title>
        <p class="job-category-detail"></p>
        <p class="job-name-detail"></p>
      <small><u><a target="_blank" href="https://ca.indeed.com{{job.url}}">{{job.title}} - original link</a></u></small>
        <button mat-button mat-dialog-close class="close-modal-btn"><i class="fas fa-times"></i></button>
    </div>
    <hr _ngcontent-c1="" class="yellow-line ng-star-inserted detail-line">
    <div class="detail-main cms-page" mat-dialog-content>
        <div class="row">
            <div class="col s12"><div><span class="new badge" data-badge-caption="" *ngFor="let tag of job.tags">{{tag}}</span></div></div>
            <div class="col s12" innerHTML="{{job.html}}"></div>

        </div>
    </div>
</div>
