a{
     color: #00a6b8;
}
 .detail-header {
     width: 90%;
     margin: 0 auto;
     margin-top: -40px;
}
 .job-category-detail {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
     font-weight: 600;
     font-size: 18px;
     color: #3f3f3f;
     margin-bottom: 0;
     padding-top: 10px;
}
 .job-name-detail {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
     font-weight: 600;
     font-size: 30px;
     color: #3f3f3f;
     margin: 0;
}
 .detail-main {
     padding-top: 20px;
     width: 90%;
     margin: 0 auto;
     overflow-y: scroll;
     margin-top: 10px;
}
 .close-modal-btn {
     position: absolute;
     right: -40px;
     top: 20px;
     font-size: 40px;
}
 .modal-imgs {
     height: 20vw;
     object-fit: cover;
     max-width: 470px;
     max-height: 334px;
}
 .modal-img-container {
     padding-top: 70%;
     width: 100%;
     position: relative;
}
 .modal-img-content {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-position: center center;
     background-size: contain;
     background-repeat: no-repeat;
}
 .modal-des {
     font-size: 18px;
     color: #00a6b8;
}
 .modal-video-icon {
     font-size: 40px;
     color: #00a6b8;
}
 .modal-video-name {
     font-size: 14px;
     color: #00a6b8;
}
 .modal-des-content img {
     margin-bottom: 5px;
}
 .modal-des-content .item {
}
 .modal-des-content .item:hover {
     opacity: 0.5;
}
 .left-btn {
     margin-left: -32px;
     height: 100px;
     width: 50px;
     border-bottom-right-radius: 50px;
     border-top-right-radius: 50px;
     position: absolute;
     top: 42%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .right-btn {
     text-align: right;
     right: 0;
     margin-right: -37px;
     height: 100px;
     width: 50px;
     border-bottom-left-radius: 50px;
     border-top-left-radius: 50px;
     position: absolute;
     top: 42%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding-right: 35px;
}
 .job-btn-icon {
     color: #648226;
     width: 30px;
     height: 60px;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .detail-slider{
     padding-left: 20px;
     padding-right: 20px;
}
 @media (max-width: 991px) {
     .left-btn {
         top: 40%;
         transform: translateY(-50%) scale(0.8);
         -webkit-transform: translateY(-50%) scale(0.8);
    }
     .right-btn {
         top: 40%;
         transform: translateY(-50%) scale(0.8);
         -webkit-transform: translateY(-50%) scale(0.8);
    }
}
 @media (max-width: 767px) {
     .modal-des-content .item {
         padding: 0;
         padding-left: 3px;
         padding-right: 3px;
    }
     .job-name-detail {
         margin-top: 5px;
         font-size: 20px;
         line-height: 22px;
    }
     .close-modal-btn {
         right: -20px;
         top: 10px;
    }
     .detail-main {
         width: 100%;
    }
}
 @media (max-width: 600px) {
     .modal-imgs {
         height: 240px;
         margin-left: 0;
         margin-right: 0;
    }
}
