<button mat-button></button>

<div *ngIf="!job && !page" class="page-container">
    <div class="detail-header relative" mat-dialog-title>

        <p class="job-category-detail">
            <mat-spinner class='margin-auto'></mat-spinner>
        </p>
        <p class="job-name-detail"></p>
        <button mat-button mat-dialog-close class="close-modal-btn"><i class="fas fa-times"></i></button>
    </div>
</div>


<div *ngIf="job" class="page-container">
    <div class="detail-header relative" mat-dialog-title>
        <p class="job-category-detail"></p>
        <p class="job-name-detail">Edit Job</p>
      <small> {{job.title }} - {{job.company }} - {{job.location }}</small>
        <button mat-button mat-dialog-close class="close-modal-btn"><i class="fas fa-times"></i></button>
    </div>
    <hr _ngcontent-c1="" class="yellow-line ng-star-inserted detail-line">
    <div class="detail-main cms-page" mat-dialog-content>
        <div class="row">

          <button mat-button mat-button (click)="saveJob()" class="save-btn btn-large">Save</button> <span class="green-text" *ngIf="message">{{message}}</span>
          <p>Title:</p>
          <input type="text" [(ngModel)]="job.title">

          <p>Tags:</p>
          <span class="margin-right-10" *ngFor="let tag of job.tags">{{tag}} <button mat-button mat-button (click)="deleteTag(tag)" class="save-btn">x</button></span>
          <input class="input-mini" type="text" [(ngModel)]="tmpTag" placeholder="Enter new tag"><button mat-button mat-button (click)="addTag(tmpTag)" class="save-btn">Add</button>

          <p>Company:</p>
          <input type="text" [(ngModel)]="job.company">

          <p>Location:</p>
          <input type="text" [(ngModel)]="job.location">

          <p>Url:</p>
          <input type="text" [(ngModel)]="job.url">

          <p>Content:</p>
          <textarea type="text" [(ngModel)]="job.html" class="edit-box">
          </textarea>
          <mat-spinner *ngIf="loading" class='margin-auto'></mat-spinner>
          <button mat-button mat-button (click)="saveJob()" class="save-btn btn-large">Save</button> <span class="green-text" *ngIf="message">{{message}}</span>
          <div class="section-space">&nbsp;</div>



        </div>
    </div>
</div>
