/* You can add global styles to this file, and also import other style files */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @font-face {
     font-family: 'GothamSSm-Medium';
     src: url('assets/fonts/GothamSSm-Medium.eot');
     src: url('assets/fonts/GothamSSm-Medium.woff2') format('woff2'), url('assets/fonts/GothamSSm-Medium.woff') format('woff'), url('assets/fonts/GothamSSm-Medium.ttf') format('truetype'), url('assets/fonts/GothamSSm-Medium.svg#GothamSSm-Medium') format('svg'), url('assets/fonts/GothamSSm-Medium.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'GothamSSm-Light';
     src: url('assets/fonts/GothamSSm-Light.eot');
     src: url('assets/fonts/GothamSSm-Light.woff2') format('woff2'), url('assets/fonts/GothamSSm-Light.woff') format('woff'), url('assets/fonts/GothamSSm-Light.ttf') format('truetype'), url('assets/fonts/GothamSSm-Light.svg#GothamSSm-Light') format('svg'), url('assets/fonts/GothamSSm-Light.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Gotham SSm';
     src: url('assets/fonts/GothamSSm-Bold.eot');
     src: url('assets/fonts/GothamSSm-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/GothamSSm-Bold.woff2') format('woff2'), url('assets/fonts/GothamSSm-Bold.woff') format('woff'), url('assets/fonts/GothamSSm-Bold.ttf') format('truetype'), url('assets/fonts/GothamSSm-Bold.svg#GothamSSm-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
}
 .condition-tab .mat-tab-header {
     background-color: #f68f1e;
     color: white;
}
 body {
     font-family: "Gotham A", "Gotham B", 'GothamSSm-Light', sans-serif;
    /*-webkit-font-smoothing: antialiased;
    */
     color: #3f3f3f;
}
 .animaze {
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 a{
     color: #00a6b8;
}
 .cms-page img{
     max-width: 100%;
}
.cms-page .sign-img {
     max-width: 400px;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
 h1,h2,h3{
     font-family: "Gotham A", "Gotham B", 'GothamSSm-Medium', sans-serif;
     color: #00a6b8;
     font-weight: 600;
}
 h4,h5{
     font-family: "Gotham A", "Gotham B",'GothamSSm-Light', sans-serif;
     color: #00a6b8;
     font-weight: 600;
}
 .tag-badge{
     font-family: "Gotham A", "Gotham B",'GothamSSm-Light', sans-serif;
}
 .cms-page h2{
     font-size: 40px;
}
 .cms-page h3{
     font-size: 30px;
}
 .cms-page h4{
     font-size: 24px;
}
 .cms-page h5{
     font-size: 20px;
}
 .cms-page li{
     list-style-type: disc;
     margin-left: 20px;
     margin-bottom: 10px;
}
 .cms-page ul:not(.browser-default)>li{
     list-style-type: disc;
}
 p, li{
     font-size: 18px;
}
 .video-iframe{
     max-width: 100%;
}
 .video-container iframe{
     position: absolute;
     top: 5%;
     left: 0;
     width: 100%;
     height: 90%;
}
 .no-height{
     display: none;
}
 .auto-height{
     display: block;
}
 .cms-page ol.move-right{
     list-style: none;
}
 .cms-page .move-right li{
     list-style-position: outside;
     margin-bottom: 5px;
     text-indent: -30px;
     margin-left: 0;
     list-style: none;
}
 .cms-page .cms-icon{
     max-width: 75px;
}
 .scroll-x{
     max-width: 100%;
     overflow-x: auto;
}
 .mat-tab-group {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif !important;
}
 button:focus {
     background-color: inherit;
}
 img {
     image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
     image-rendering: crisp-edges;
}
 .hidden {
     display: none !important;
}
 .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
}
 .condition-tab .mat-tab-label {
     color: #fff;
     font-size: 20px;
     font-family: "Gotham A", "Gotham B",'GothamSSm-Light', sans-serif;
     font-weight: 300;
     min-width: 120px;
     opacity: 1;
}
 .condition-tab .mat-tab-label:hover.condition-tab .mat-tab-label.active {
     background-color: #c66c12;
}
 .mat-tab-label-container {
     padding-left: 5%;
     padding-right: 5%;
}
 .container {
     width: 90%;
}
 .margin-auto {
     margin: auto;
}
 .relative {
     position: relative;
}
 .absolute {
     position: absolute;
}
 .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
     z-index: 0;
     opacity: 1;
     height: 100%;
     background-color: rgba(197, 202, 233, .3) !important;
}
 .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
     background-color: initial !important;
}
 .yellow-line {
     border-bottom: 12px solid #f68f1e;
     width: 100%;
     height: 1px;
     border-top: 0;
}
 .mat-dialog-container {
     padding: 0 !important;
     position: relative;
}
 .hover-a:hover {
     text-decoration: underline;
}
 .finger {
     cursor: pointer;
}
 .mat-tab-body-content {
     overflow: hidden !important;
}
 .mat-dialog-container {
     overflow-x: hidden !important;
}
 .mat-dialog-content {
     padding: 0 !important;
}
 .mat-dialog-content::-webkit-scrollbar {
     width: 10px;
     height: 10px;
}
 .mat-dialog-content::-webkit-scrollbar-track {
     width: 0px;
     height: 0px;
}
 .mat-dialog-content::-webkit-scrollbar-thumb {
     border-radius: 40px;
     width: 0px;
     height: 0px;
     -webkit-box-shadow: inset 0 0 100px #00a6b8;
}
 .mat-dialog-container {
     overflow: hidden !important;
}
 .condition-content p {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Light', sans-serif;
     font-size: 18px;
     color: #3f3f3f;
     margin-bottom: 10px;
     font-weight: 300;
}
 .condition-content h2, .condition-content h3 {
     font-family: "Gotham A", "Gotham B",'GothamSSm-Medium', sans-serif;
     font-weight: 600;
     font-size: 30px;
     color: #00a6b8;
     margin: 0;
}
 .condition-content ul li {
     list-style-type: disc;
     margin-left: 20px;
     font-size: 18px;
     margin-bottom: 10px;
}
 .mat-tab-header-pagination-chevron {
     border-color: white !important;
}
 .video-container{
     z-index: 200;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
     background: rgba(255, 255, 255, 0.9);
     min-width: 640px;
     min-height: 420px;
}
 .close-video-btn{
     float: right;
    font-size: 20px;
    margin-top: -15px!important;
    z-index: 20;
    margin-right: -10px!important;
}
 .page-container{
     margin-top: -18px;
     margin-bottom: -18px;
     height: 100%;
}
 .page-container h5{
     font-size: 18px;
}
 .overlay-grey{
     background: rgba(68, 68, 68, 0.5);
}
 .side-padding{
     padding: 0 32px;
}
 .mat-autocomplete-panel{
     min-width: 550px!important;
     margin-left: -100px!important;
}
 .condition-search-a {
     line-height: 12px!important;
}
 .condition-search-a .mat-button-wrapper{
     display: table!important;
}
 .mat-autocomplete-panel{
     max-height: 500px!important;
}
 .condition-search-option .mat-option-text{
     padding-top: 20px!important;
}
 .condition-content,.cms-page{
     margin-bottom: 40px;
}
 .no-dot .ngxcarouselPoint{
     display: none;
}
 .sign-img{
     margin-bottom: 20px;
}
 .half-opacity img{
     opacity: 0.5;
}
 .space{
     height: 40px;
}
 .blue-p{
     color:#00a6b8;
}
 .bold{
     font-weight: bold;
}
 .overflow-x-hidden{
     overflow-x: hidden;
}
 .detail-main.mat-dialog-content {
     max-height: 81.5vh !important;
     padding-bottom: 1.5vh!important;
}
 .text-center{
     text-align: center;
}
 .footer h5{
     font-size: 18px;
}
 .footer p {
     font-size: 14px;
}
 .section-space{
   min-height: 40px;
 }
nav{
  background:transparent;
}
nav.nav-extended .nav-wrapper {
    min-height: 64px!important;
}
.core-logo{
    width: 90%;
    margin-bottom: 34px;
    margin-top: 20px;
}
.search-box{
  max-width: 400px;
}
.clear-10 {
  margin-bottom: 10px
}
.clear-15 {
  margin-bottom: 15px
}
.clear-20 {
  margin-bottom: 20px
}
.search-box-container{
  margin-top: 20px;
}
.search-box{
  background: #dfdfdf;
}
.save-btn{
  background: #dfdfdf;
}
.card{
  min-height: 200px;
}
.edit-box{
  min-height: 200px;
}
.red-text{
  color:#B0413E;
}
.green-text{
  color:#4F805D
}
.orange-text{
  color:#A46A1F
}

.grey-text{
  color:#777;
}
.input-mini{
  max-width: 200px;
}
.margin-right-10{
  margin-right: 10px;
}
 @media (min-width: 768px) {
     .contentlist-container .ngxcarousel > .ngxcarousel-inner > .ngxcarousel-items > .item {
         width: 25% !important;
    }
    nav.nav-extended{
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
}
 @media (min-width: 992px){
    nav.nav-extended{
      padding-top: 30px;
      padding-bottom: 35px;
    }
}
 @media (min-width: 1280px) {
     .mat-tab-label-container {
         padding-left: 0;
         padding-right: 0;
         max-width: 1280px;
         margin: auto;
    }
}
 @media (max-width: 1400px) {
     .condition-tab .mat-tab-label{
         font-size: 20px;
         min-width: 120px;
         padding: 0 10px;
    }
}
 @media (max-width: 1200px) {
     .condition-tab .mat-tab-label{
          font-size: 18px;
          min-width: 80px;
          padding: 0 10px;
    }
}
 @media (max-width: 991px) {
     .condition-tab .mat-tab-label{
         font-size: 14px;
        min-width: 80px;
        padding: 0 5px;
    }
     .cdk-overlay-pane {
         max-width: 100vw !important;
         height: 80vh !important;
    }
     .detail-main.mat-dialog-content {
         max-height: 75vh !important;
         padding-bottom: 3vh!important;
    }
}
 @media (max-width: 767px) {
     .detail-main.mat-dialog-content {
         max-height: 65vh !important;
         padding-bottom: 2vh!important;
    }
     .cms-page h5{
         font-size: 18px;
    }
     p, li{
         font-size: 16px;
    }
     .condition-tab .mat-tab-label {
         font-size: 16px;
    }
     .condition-content h2, .condition-content h3 {
         font-size: 22px;
    }
     .condition-content p, .condition-content ul li {
         font-size: 16px;
    }
     .video-container {
         position: absolute;
         left: 0;
         top: 50%;
         -webkit-transform: translateY(-50%);
         transform: translateY(-50%);
         min-width: initial;
         min-height: initial;
         height: 60vh;
         width: 100%;
    }
     .mat-autocomplete-panel{
         min-width: 300px!important;
         margin-left: -20px!important;
    }
     .condition-tab .mat-tab-label{
         font-size: 14px;
         min-width: 10px;
         padding: 0 10px;
    }
}
